.vs
obj
DslLib/obj
CppDsl/Debug
CppDsl/Release
CppDsl/x64/Debug
CppDsl/x64/Release
CppDsl/build/build64
CppDsl/build/build32
CppDsl/build/build_ios
CppDsl/build/build_osx
CppDsl/build/build.Android*
CppDsl/build/build_*
pg/Debug
pg/Release
pg/x64/Debug
pg/x64/Release
*.obj
*.iobj
*.tlog
*.sdf
*.suo
*.user
*.opensdf